
torch
torchvision
yolov5
megadetector
opencv-python
pillow
matplotlib

numpy
PyYAML
tqdm
requests

jupyterlab
fastapi
uvicorn
litserve

azure-storage-blob
google-cloud-storage
boto3
